// Base Class Definition
// -------------------------

.#{$fa-css-prefix} {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: $fa-line-height-base;
  font-size: $fa-font-size-base;
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
